.Title
  font-size: 35px
  color: $color--white
  font-family: $font--ubuntu
  margin: 20px 0 40px

.Summary
  margin-bottom: 20px
  font-weight: bold

.Body
  p + p
    margin-top: 20px

  a
    color: $color--white

  code
    background: $color--grey--dark
    padding: 8px
    display: block

.Back
  color: $color--white

.ContentLink
  margin-top: 40px
  color: $color--white
  display: block

