@import '../../scss/settings.scss';

.Content {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding: $spacing--medium;

  @media (min-width: $mq--tablet) {
    padding: $spacing--large 20px;
  }

  &.narrow {
    max-width: 700px;
  }

  > * + * {
    margin-top: 20px;
  }
}
