@import '../../scss/settings.scss';

.Layout {
  min-height: 100vh;
  background-color: $color--black;
  color: $color--white;

  &.transition {
    animation: toDark 250ms forwards;
  }

  &.light {
    background-color: $color--white--full;
    color: $color--black;

    &.transition {
      animation: toLight 250ms forwards;
    }
  }
}

@keyframes toLight {
  0% {
    background-color: $color--black;
  }
  100% {
    background-color: $color--white;
  }
}

@keyframes toDark {
  0% {
    background-color: $color--white;
  }
  100% {
    background-color: $color--black;
  }
}

:global {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }

  body {
    font-family: $font--sourcecode;
    line-height: 1.4;
  }
}
