:global
  *
    padding: 0
    margin: 0
    box-sizing: border-box
    -webkit-font-smoothing: antialiased

  ::selection
    background: $color--purple--light
    opacity: 0.8
    color: $color--white

  body
    background: $color--black
    color: $color--white
    font-family: $font--sourcecode
    font-size: 14px
