@import '../../scss/settings.scss';

.Layout {
  min-height: 100vh;
  background-color: $color--black;
}

:global {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }

  body {
    color: $color--white;
    font-family: $font--sourcecode;
    line-height: 1.4;
  }
}
