.Divider {
  background-image: url("data:image/svg+xml,<svg width='10' height='20' viewBox='0 0 10 15' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='0.567383' y='14.1777' width='16' height='1' transform='rotate(-60 0.567383 14.1777)' fill='%23000000'/></svg>");
  height: 20px;
  border: 0;
  margin: 40px 0;
}
