@import '../../scss/settings.scss';

.Panel {
  height: 100vh;
  position: relative;

  @media (min-width: $mq--tablet) {
    height: calc(100vh - 80px);
  }
}

.Heading {
  font-family: $font--gt;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: $spacing--large;
  color: $color--grey;

  @media (min-width: $mq--tablet) {
    font-size: 48px;
    line-height: 58px;
  }

  a {
    color: $color--white;
    text-decoration: none;
  }

  .Line {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0 0 5px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: $color--black;
      animation: revealBefore 1.5s cubic-bezier(0.77, 0, 0.18, 1) forwards;
      transform: translateX(0);
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: $color--grey--light;
      animation: revealAfter 1.5s cubic-bezier(0.77, 0, 0.18, 1) forwards;
      transform: translateX(-101%);
    }

    @for $i from 1 through 7 {
      &:nth-of-type(#{$i}) {
        &::before,
        &::after {
          animation-delay: $i * 0.4s;
        }
      }
    }
  }

  .Name {
    color: $color--white;
  }
}

@keyframes revealBefore {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}

@keyframes revealAfter {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(101%);
  }
}

.Date {
  font-family: $font--gt;
  font-size: 24px;
  position: absolute;
  bottom: $spacing--large;
  right: 0;
  opacity: 0;
  animation: fadeInLeft 250ms forwards;
  animation-delay: 4.25s;
  color: $color--grey;

  &::after {
    content: '';
    height: 1px;
    width: 1000%;
    background: $color--grey;
    position: absolute;
    left: calc(100% + 10px);
    top: 50%;
  }
}

.ScrollDown {
  opacity: 0;
  animation: fadeInDown 250ms forwards, bounce 5000ms infinite;
  animation-delay: 4s;
  font-family: $font--gt;
  font-size: 24px;
  color: $color--grey;
  position: absolute;
  bottom: $spacing--large;
}

.ListTitle {
  color: $color--grey;
  text-transform: uppercase;
  font-size: 20px;
  position: relative;

  &::before {
    content: '';
    height: 1px;
    width: 100%;
    background: $color--grey;
    position: absolute;
    right: calc(100% + 10px);
    top: 50%;
  }
}

.ItemLinks {
  list-style-position: inside;
  list-style-type: circle;
  margin-bottom: $spacing--large;

  li {
    font-size: 24px;
    font-family: $font--gt;

    a {
      color: $color--white;
      text-decoration: none;
      position: relative;

      &::after {
        content: '→';
        position: absolute;
        right: -10px;
        opacity: 0;
        transition: 250ms;
      }

      &:hover {
        &::after {
          opacity: 1;
          right: -40px;
        }
      }
    }
  }
}

.WorkTogether {
  font-family: $font--gt;
  font-size: 18px;
  color: $color--grey;
  margin-bottom: 20px;

  @media (min-width: $mq--tablet) {
    font-size: 20px;
  }

  a {
    color: $color--grey;
  }
}

.Footer {
  color: $color--grey;

  a {
    color: $color--grey !important;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%,
  10%,
  20% {
    transform: translateY(0);
  }
  5%,
  15% {
    transform: translateY(20px);
  }
}
