.NoiseField
  width: 340px
  height: 340px
  border: 4px solid $color--white
  margin-bottom: 40px

  &:hover
    &::after
      content: 'adapted from perlin noise flowfield at generated.space'
      font-size: 10px
      color: $color--grey

.Heading
  font-family: $font--ubuntu
  font-size: 36px
  margin-bottom: 20px

.HomeCopy
  & + &
    margin-top: 20px

  a
    color: $color--white

.Links
  margin: 20px 0
  list-style: none

  li
    &::before
      content: '* '

  a
    color: $color--white

.Copy
  color: $color--grey
