@import '../../scss/settings.scss';

.Panel {
  height: 100vh;
  position: relative;

  @media (min-width: $mq--tablet) {
    height: calc(100vh - 160px);
    margin-bottom: 80px;
  }
}

.UrlTag {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  display: inline-block;
  color: $color--black;
  width: 100px;

  &::after {
    content: '';
    height: 1px;
    width: 40px;
    position: absolute;
    left: calc(100% + 10px);
    top: 50%;
    background: $color--black;
  }
}

.Wave {
  font-size: 64px;
  line-height: 82px;
  margin-bottom: 40px;
}

.Hello {
  font-family: $font--gt;
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 40px;

  @media screen and (min-width: 700px) {
    font-size: 4.3vw;
    line-height: calc(4.3vw + 1.05vw);
  }

  @media screen and (min-width: 1400px) {
    font-size: 64px;
    line-height: 90px;
  }

  .Name {
    background-image: linear-gradient($color--primary, $color--primary);
    background-size: 100% 25%;
    background-position: 0 100%;
    background-repeat: no-repeat;
  }
}

.Bio {
  font-size: 22px;

  > * + * {
    margin-top: 20px;
  }

  span,
  a {
    color: $color--primary;
    font-weight: bold;
  }
}

// .Heading {
//   font-family: $font--gt;
//   font-size: 32px;
//   line-height: 42px;
//   margin-bottom: 40px;

//   @media screen and (min-width: 520px) {
//     font-size: 4.3vw;
//     line-height: calc(4.3vw + 1.05vw);
//   }

//   @media screen and (min-width: 1400px) {
//     font-size: 60px;
//     line-height: 74px;
//   }

//   .Name {
//     color: $color--black;
//     background-image: linear-gradient($color--primary, $color--primary);
//     background-size: 100% 25%;
//     background-position: 0 100%;
//     background-repeat: no-repeat;
//   }

//   .Line {
//     position: relative;
//     overflow: hidden;
//     display: block;
//     margin: 0 0 5px;
//     white-space: nowrap;

//     &::before {
//       content: '';
//       position: absolute;
//       top: 0;
//       right: 0;
//       width: 100%;
//       height: 100%;
//       background: $color--white--full;
//       animation: revealBefore 1.5s cubic-bezier(0.77, 0, 0.18, 1) forwards;
//       transform: translateX(0);
//     }

//     &::after {
//       content: '';
//       position: absolute;
//       top: 0;
//       right: 0;
//       width: 100%;
//       height: 100%;
//       background: $color--black;
//       animation: revealAfter 1.5s cubic-bezier(0.77, 0, 0.18, 1) forwards;
//       transform: translateX(-101%);
//     }

//     @for $i from 1 through 5 {
//       &:nth-of-type(#{$i}) {
//         &::before,
//         &::after {
//           animation-delay: $i * 0.4s;
//         }
//       }
//     }
//   }
// }

// @keyframes revealBefore {
//   0% {
//     transform: translateX(0);
//   }
//   100% {
//     transform: translateX(200%);
//   }
// }

// @keyframes revealAfter {
//   0% {
//     transform: translateX(-100%);
//   }
//   100% {
//     transform: translateX(101%);
//   }
// }

.ListTitle {
  color: $color--primary;
  text-transform: lowercase;
  display: inline-block;
  position: relative;
  font-size: 22px;

  @media (min-width: $mq--tablet) {
    font-size: 30px;
  }

  &::after {
    content: '';
    background-image: url("data:image/svg+xml,<svg width='10' height='20' viewBox='0 0 10 15' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='0.567383' y='14.1777' width='16' height='1' transform='rotate(-60 0.567383 14.1777)' fill='%236a6666'/></svg>");
    height: 20px;
    width: calc(900px - 100%);
    display: block;
    position: absolute;
    top: 50%;
    left: calc(100% + 20px);
    transform: translateY(-40%);
  }
}

.ItemLinks {
  list-style: none;
  margin-bottom: $spacing--large;

  li {
    font-family: $font--gt;
    font-size: 22px;
    padding: 7.5px 0;

    @media (min-width: $mq--tablet) {
      font-size: 38px;
      padding: 10px 0;
    }

    a {
      color: $color--black;
      text-decoration: none;
      display: block;
      transition: transform 250ms;
      transform-origin: left;
      line-height: 1.1;

      &:hover {
        -webkit-text-stroke: 1px $color--black;
        text-stroke: 1px $color--black;
        color: $color--white--full;
        transform: scale(1.25);
      }
    }
  }
}

.PostDate {
  font-family: $font--sen;
  font-size: 18px;
  color: $color--grey;
  margin: 5px 0;
}

.WorkTogether {
  font-size: 22px;

  span,
  a {
    color: $color--primary;
    font-weight: bold;
  }
}

.Footer {
  color: $color--grey;

  a {
    color: $color--primary !important;
  }
}
