.ProfilePhoto
  width: 150px
  margin-bottom: 40px
  border: 4px solid $color--black;

.Heading
  font-family: $font--ubuntu
  font-size: 36px
  margin-bottom: 40px

.Hi
  &:hover
    animation: rainbow 500ms linear infinite

.Links
  margin: 20px 0
  list-style: none

  li
    &::before
      content: '* '

    a
      text-decoration: none

      &:hover
        text-decoration: underline

  a
    color: $color--black

.Footer
  color: $color--grey

  a
    color: $color--grey !important

@keyframes rainbow
  for i in (1..36)
    {100% * (i/36)}
      color: hsl(i*10, 60%, 70%)
