.NoiseField
  width: 340px
  height: 340px
  border: 4px solid $color--white
  margin-bottom: 40px

.ProfilePhoto
  width: 150px
  border: 4px solid $color--white
  filter: grayscale(100%)

.Heading
  font-family: $font--ubuntu
  font-size: 36px
  margin-bottom: 40px

.Links
  margin: 20px 0
  list-style: none

  li
    &::before
      content: '* '

    a
      text-decoration: none
      background-size: 200% 200%
      background-image: linear-gradient(to top, $color--white 50%, transparent 50%)
      transition: 100ms ease-in-out

      &:hover
        background-position: 0 100%
        background-image: linear-gradient(to top, $color--white 51%, transparent 50%)
        color: $color--black

  a
    color: $color--white

.Footer
  color: $color--grey

  a
    color: $color--grey
