@import '../../scss/settings.scss';

.Heading {
  font-family: $font--ubuntu;
  font-size: 36px;
  margin: 20px 0 40px;
}

.Blurb {
  margin-bottom: 40px;
}

.List {
  list-style: none;
  padding-left: 20px;

  li {
    &::before {
      content: '* ';
      position: absolute;
      left: 20px;
    }

    a {
      text-decoration: none !important;
    }

    & + li {
      margin-top: 20px;
    }
  }

  &.smallGap {
    li + li {
      margin-top: 10px;
    }
  }

  .ItemName {
    color: $color--black;
    display: inline-block;
    background-size: 200% 200%;
    background-image: linear-gradient(to top, $color--black 50%, transparent 50%);
    transition: 100ms ease-in-out;
  }

  .ItemDesc, .ItemDate {
    color: $color--grey;
  }

  .ItemDate {
    white-space: nowrap;
    padding-left: 20px;
  }
}

.Back {
  color: $color--black;
}

.ItemLink {
  &:hover {
    .ItemName {
      text-decoration: underline;
    }
  }
}

.ItemWithDate {
  display: flex;
  justify-content: space-between;
}
