@import '../../scss/settings.scss';

.Heading {
  font-family: $font--ubuntu;
  font-size: 36px;
  margin: 20px 0 40px;
}

.Blurb {
  margin-bottom: 40px;
}

.List {
  list-style: none;

  li {
    &::before {
      content: '* ';
    }

    a {
      text-decoration: none !important;
    }

    & + li {
      margin-top: 20px;
    }
  }

  .ItemName {
    color: $color--black;
    display: inline-block;
    background-size: 200% 200%;
    background-image: linear-gradient(to top, $color--black 50%, transparent 50%);
    transition: 100ms ease-in-out;
  }

  .ItemDate {
    padding-left: 17px;
  }

  .ItemDesc {
    color: $color--grey;
    padding-left: 17px;
  }
}

.Back {
  color: $color--black;
}

.ItemLink {
  &:hover {
    .ItemName {
      text-decoration: underline;
    }
  }
}
