.Heading
  font-family: $font--ubuntu
  font-size: 36px
  margin: 20px 0 40px

.Blurb
  margin-bottom: 40px

.List
  list-style: none

  li
    &::before
      content: '* '
    a
      text-decoration: none !important

    & + li
      margin-top: 20px

  .ItemName
    color: $color--white
    display: inline-block
    background-size: 200% 200%
    background-image: linear-gradient(to top, $color--white 50%, transparent 50%)
    transition: 100ms ease-in-out

  .ItemDesc
    color: $color--grey
    padding-left: 17px

.Back
  color: $color--white

.ItemLink
  &:hover
    .ItemName
      background-image: linear-gradient(to top, $color--white 51%, transparent 50%)
      background-position: 0 100%
      color: $color--black
