// Colours

$color--black: #080808;
$color--white: #f8f8f8;
$color--white--full: #fff;
$color--grey--lightest: #e8e8e8;
$color--grey--light: #ddd;
$color--grey: #6a6666;
$color--grey--dark: #222;
$color--primary: #f45d48;

// Fonts

$font--gt: 'GT America Expanded', sans-serif;
$font--sourcecode: 'Source Code Pro', 'Courier', monospace;
$font--sen: 'Sen', 'Arial', sans-serif;

// Breakpoints

$mq--mobile--portrait: 0;
$mq--mobile--landscape: 400px;
$mq--tablet--portrait: 601px;
$mq--tablet--landscape: 800px;
$mq--desktop--small: 960px;
$mq--desktop--medium: 1450px;
$mq--desktop--large: 1600px;

// Common aliases

$mq--mobile: $mq--mobile--portrait;
$mq--tablet: $mq--tablet--portrait;
$mq--desktop: $mq--desktop--medium;

// Spacing rules

$spacing--small: 10px;
$spacing--medium: 40px;
$spacing--large: 80px;
