// Colours

$color--black: #080808;
$color--white: #f8f8f8;
$color--white--full: #fff;
$color--grey--light: #ddd;
$color--grey: #797979;
$color--grey--dark: #222;

// Fonts

$font--gt: 'GT America', sans-serif;
$font--ubuntu: 'Ubuntu', sans-serif;
$font--sourcecode: 'Source Code Pro', 'Courier', monospace;

// Breakpoints

$mq--mobile--portrait: 0;
$mq--mobile--landscape: 400px;
$mq--tablet--portrait: 601px;
$mq--tablet--landscape: 800px;
$mq--desktop--small: 960px;
$mq--desktop--medium: 1450px;
$mq--desktop--large: 1600px;

// Common aliases

$mq--mobile: $mq--mobile--portrait;
$mq--tablet: $mq--tablet--portrait;
$mq--desktop: $mq--desktop--medium;

// Spacing rules

$spacing--small: 10px;
$spacing--medium: 40px;
$spacing--large: 80px;
